{% extends 'base.html' %}
{% block title %}
  Anor Londo
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/7.7_anor_londo-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Anor Londo</h5>
      <p class="card-text">Anor Londo is a Location in Dark Souls 3.
         The legendary city of the gods that has since been taken over by Aldrich, Devourer of Gods.
          Once radiant and warm with sunlight (albeit fake), it is now entirely dark and cold due to the absence of Dark Sun Gwyndolin.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>



<div class="card">
  <div class="card-header">
    <p>What can you find in Anor Londo:</p>
  </div>
  {% for exact in list_exact %}
  
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
      
    </blockquote>
    
  </div>
  {% endfor %}
</div>


{% endblock %}