{% extends 'base.html' %}
{% block title %}
Cathedral of the Deep
{% endblock %}

{% block content %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/5.1_cathedral_of_the_deep-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cathedral of the Deep</h5>
      <p class="card-text">Cathedral of the Deep is a Location in Dark Souls 3. The area consists of a huge cathedral as well as a graveyard and the surrounding grounds. The area features a very vertical level design, with several
         shortcuts leading back to a central bonfire (Cleansing Chapel Bonfire). The path to Cathedral of the Deep lies in the Crystal Sage's ruins.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Cathedral of the Deep:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}