{% extends 'base.html' %}
{% block title %}
Cemetery of Ash
{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/1.2_cemetery_of_ash-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cemetery of Ash</h5>
      <p class="card-text">Cemetery of Ash is a Location in Dark Souls 3.
         This location serves as a starting area for new players to the game.
          This is where players will find themselves at the start of the game, revived as an 'Unkindled', and will have to
         face the mighty Iudex Gundyr as a test to prove their worth before heading into Firelink Shrine and being able to explore the lands of Lothric.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Cemetery of Ash:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}