{% extends 'base.html' %}
{% block title %}
Consumed Kings Garden
{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/2.5_oceiros,_the_consumed_king-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Consumed King's Garden</h5>
      <p class="card-text">Consumed King's Garden is a location in Dark Souls 3. This optional path takes the Ashen One towards Oceiros,
         who despairs in madness in the far halls. For those wanting to reach Archdragon's Peak, this is a necessary path.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Consumed Kings Garden:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}