<!DOCTYPE html>
<html lang="en">
<head>
    <title>
      {% for sl in list_slayer %}
        {{sl[0]}}
      {% endfor %}
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
  
    <div class="main1" style="height: 2000px;background: linear-gradient(to top, rgb(0, 0, 0)100%,rgb(34, 29, 29)50%)">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Dark Souls III</h2>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="{{ url_for('home_page') }}">HOME</a></li>
                        <li><a href="{{ url_for('location_page') }}">LOCATIONS</a></li>
                        <li><a href="{{ url_for('market_page') }}">ITEMS</a></li>
                        <li><a href="{{ url_for('boss_page') }}">BOSSES</a></li>
                        <li><a href="{{ url_for('npc_page') }}">NPCS</a></li>
                        <li><a href="{{ url_for('weapons_page') }}">WEAPONS</a></li>
                        <li><a href="{{ url_for('bsouls_page') }}">BOSS SOULS</a></li>
                        {% if current_user.is_authenticated %}
                        <li><a href="#" style="color:rgb(255, 255, 255)"> Welcome, {{ current_user.username }}<br></a>
                            <a href="{{ url_for('logout_page') }}">LOGOUT</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login_page') }}">LOGIN</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('register_page') }}">REGISTER</a></li>
                    </ul>
                </div>
        </div>
        {% for sl in list_slayer %}
        <div class="box3" style="height: 800px;">
            <p style="color:aliceblue; font-size: 50px; text-align: center;">{{sl[0]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 30px; padding: 10px"><br>Type: {{sl[1]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Damage: {{sl[3]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Maigc: {{sl[4]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Fire: {{sl[5]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Lightning: {{sl[6]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Dark: {{sl[7]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Critical: {{sl[8]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Stength: {{sl[9]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Dexterity: {{sl[10]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Intelligence: {{sl[11]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px">Faith: {{sl[12]}}</p>
            <div style=" display: flex; justify-content: center; align-items: center; margin-bottom: 200vh;">
            <img src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/{{sl[2]}}" style="width: 200px;
            height: 200px;object-fit: contain;">
            </div>
            
          </div>
          {% endfor %}

    </div>  
    
</body>
</html>