{% extends 'base.html' %}
{% block title %}
Firelink Shrine
{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/1.1_firelink_shrine-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Firelink Shrine</h5>
      <p class="card-text">Firelink Shrine is a Location in Dark Souls 3. After defeating the first boss, the unkindled find this safe haven,
         where they may level up via the Fire Keeper, or interact with other NPCs who have sought the safety of the hub.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Firelink Shrine:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}