{% extends 'base.html' %}
{% block title %}
Grand Archives
{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/9.4_grand_archives-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Grand Archives</h5>
      <p class="card-text">Grand Archives is a Location in Dark Souls 3. Scholars endlessly navigate the towering
         bookshelves of the archives, seeking for and guarding long lost secrets with darkness that can only be countered by submerging oneself in wax.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Grand Archives:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}