{% extends 'base.html' %}
{% block title %}
Irithyll of the Boreal Valley
{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/7.1_irithyll_of_the_boreal_valley-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Irithyll of the Boreal Valley</h5>
      <p class="card-text">"Wherever you go, the moon still sets in Irithyll
        . Wherever you may be, Irithyll is your home."

        "The features of the old gods, as if from legend
        . They say children born like this are fated to be taken to the Boreal Valley."-Description of the Irythyllian Face Preset.
        
        "If the tales are true, it is home to old moon-worshipping nobles
        , and should be packed with treasure."-Greirat the Thief</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Irithyll of the Boreal Valley:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>

{% endblock %}