{% extends 'base.html' %}
{% block title %}
Irithyll Dungeon
{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/8.1_irithyll_dungeon-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Irithyll Dungeon</h5>
      <p class="card-text">Irithyll Dungeon is a Location in Dark Souls 3. Torturous Jailers guard the cells of malformed corpses
         and decaying abominations while rats scurry away underneath, but the Ashen Ones must venture into the deepest
          heart of these horrors in their search for the Lords of Cinder. Yet perhaps long lost forms of blasphemous hope
           can be found within this chasm of despair.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Irithyll Dungeon:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}