{% extends 'home.html' %}
{% block title %}

{% endblock %}
{% block content %}
<div class="content">
    <h1>Dark Souls III<br><span>Wikipedia</span> <br></h1>
    <p class="par">As fires fade and the world falls into ruin, journey into
         a universe filled<br> with more colossal enemies and environments.<br> Players will be immersed
        into a world of epic atmosphere and<br> darkness through faster gameplay and amplified combat
        intensity.<br> Fans and newcomers alike will get lost in the game hallmark rewarding<br> gameplay and immersive graphics.
        Now only embers remain…<br> Prepare yourself once more and Embrace The Darkness</p>

        <button class="cn"><a href="{{url_for('login_page')}}">JOIN US</a></button>
</div>
{% endblock %}