{% extends 'base.html' %}
{% block title %}
Painted World of Ariandel
{% endblock %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/12.1_snowfield-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Painted World of Ariandel</h5>
      <p class="card-text">Painted World of Ariandel is a Location in Dark Souls 3. It is the primary location in the first DLC,
         Ashes of Ariandel. It can be accessed by speaking to the NPC at the altar near the Cleansing Chapel Bonfire in Cathedral of the Deep.
          The Painted World of Ariandel is a snowy dreamscape that
           conjures up images of past games in the series and features a Nordic, Viking-like theme to its inhabitants.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in the Painted World of Ariandel:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}