<!DOCTYPE html>
<html lang="en">
<head>
    <title>
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    {% for exact2 in list_exact2 %}
    <div class="main1" style="height: 2000px;background: linear-gradient(to top, rgb(0, 0, 0)100%,rgb(34, 29, 29)50%)">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">Dark Souls III</h2>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="{{ url_for('home_page') }}">HOME</a></li>
                        <li><a href="{{ url_for('location_page') }}">LOCATIONS</a></li>
                        <li><a href="{{ url_for('market_page') }}">ITEMS</a></li>
                        <li><a href="{{ url_for('boss_page') }}">BOSSES</a></li>
                        <li><a href="{{ url_for('npc_page') }}">NPCS</a></li>
                        <li><a href="{{ url_for('weapons_page') }}">WEAPONS</a></li>
                        <li><a href="{{ url_for('bsouls_page') }}">BOSS SOULS</a></li>
                    </ul>
                </div>
        </div>
        
        <div class="box3" style="height: 1000px">
            <p style="color:aliceblue; font-size: 50px; text-align: center;">{{exact2[0]}}</p>
            <p style="color:rgb(255, 255, 255); font-size: 20px; padding: 10px"><br>{{exact2[1]}}</p>
            <div style=" display: flex; justify-content: center; align-items: center;">
            <img src="{{exact2[2]}}" style="margin-top: 50px; transform: scale(1);">
            </div>
            <p style="text-align: center; font-size: 30px; padding: 50px;">What can you find in {{exact2[0]}}?</p>
            <ol style="margin-left: 45px;">
                {% for exact in list_exact %}
                <li style="font-size: 19px; padding: 5px">
                    <a class="hov" href="{{url_for('bosses_page', id=exact[0])}}">{{exact[0]}}</a>
                    : {{exact[1]}}
                </li>
                {% endfor %}

                {% for exact3 in list_exact3 %}
                <li style="font-size: 19px; padding: 5px">{{exact3[0]}}: {{exact3[1]}}</li>
                {% endfor %}
            </ol>

          </div>
          
        {% endfor %}

    </div>  
    
</body>
</html>