{% extends 'base.html' %}
{% block title %}
Smouldering Lake
{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/6.6_old_demon_king-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Smouldering Lake</h5>
      <p class="card-text">Smouldering Lake is a Location in Dark Souls 3. This optional zone is the center of conflict between many ferocious creatures,
         with a deep labyrinth built beneath flooded with lava and fire monsters, but exploring it will reveal pyromancies and tomes from ages past.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Smouldering Lake:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}