{% extends 'base.html' %}
{% block title %}
The Dreg Heap
{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/13.1_the_dreg_heap-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Dreg Heap</h5>
      <p class="card-text">The Dreg Heap is a Location in Dark Souls 3, added with the second DLC, The Ringed City.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in The Dreg Heap:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}