{% extends 'base.html' %}
{% block title %}
The Ringed City
{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/14.1_mausoleum_lookout-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Ringed City</h5>
      <p class="card-text">The Ringed City is a Location in Dark Souls 3. It is the name of the main location of the second DLC, The Ringed City.
         A traditional city for the Pygmies, called the Ringed City. Half covered in foliage, the city looks desolated with ancient ruins.
         A portion of the bridge is curved, creating a wall on the inner side. Countless tombstones line the top of the wall made of rock. </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in The Ringed City:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}