{% extends 'base.html' %}
{% block title %}
Undead Settlement
{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://darksouls3.wiki.fextralife.com/file/Dark-Souls-3/3.2_undead_settlement-new.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Undead Settlement</h5>
      <p class="card-text">Undead Settlement is a Location in Dark Souls 3.
         After receiving the Small Lothric Banner from Emma, the player approaches a cliff and is grabbed and transported
          by flying gargoyles to the base of the High Wall of Lothric.
         The decaying ruins are crowded with hordes of undead, but there's also treasure to be found... </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  </table>

  <div class="card">
    <div class="card-header">
      <p>What can you find in Undead Settlement:</p>
    </div>
    {% for exact in list_exact %}
    
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer" style="color:aliceblue">{{exact[0]}}:     {{exact[1]}}</footer>
        
      </blockquote>
      
    </div>
    {% endfor %}
  </div>
{% endblock %}